* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", serif;
    scroll-behavior: smooth;
    scroll-padding-top: 340px;
    overflow-x: hidden;
    text-decoration: none;

}

:root {
    --back-color: #181A1CD6;
    --home-color: #181A1C;
}


#login-page {
    background-image: url("../picture/loginbackground.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    background-image: url("../picture/registerbackground.jpg") !important;
}

#login-form {
    
    background-color: var(--back-color);
    width: 529px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px;
    border-radius: 16px;
}

.google {
    height: 20px;
}

.chill-logo {
    margin-bottom: 37px;
    width: 163px;
    
}

.sandi-gap {
    margin-bottom: 37px !important;
}

.input-text {
    background-color: var(--back-color);
    height: 50px;
    width: 449px;
    padding: 14px 20px;
    border: 1px solid #FFFFFF40;
    border-radius: 24px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#username {
    margin-bottom: 37px;
}

#sandi {
    margin-bottom: 12px;
}

.forget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;
}

.masuk {
    width: 100%;
    border: 1px solid #FFFFFF40;
    background-color: rgb(50, 50, 50);
    border-radius: 25px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.masuk:hover {
    background-color: rgb(40, 40, 40);
}

.g-button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--back-color);
    border: 1px solid #FFFFFF40;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.g-button:hover {
    background-color: rgb(40, 40, 40);
}

header {
    width: 100vw;
    height: 94px;
    background-color: var(--home-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    top: 0;
    left: 0;
    z-index: 999;
    
}




.nav-div {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-div a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease-out;
    font-weight: 500;
}

.nav-div a:hover {
    text-decoration: none;
    font-size: 18px;
    transform: scale(1.1)
}

.nav-div img {
    height: 26px;
}

.nav-img {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 400px;
    align-items: center;
    gap: 4px;
}

.nav-img p {
    font-size: 32px;
    font-family: "Londrina Solid", serif;
    font-weight: 400;
}

#profile-pct {
    height: 40px;
    
}

#hero-img {
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    background-position: top;
    max-height: 587px;
    z-index: 1;
    object-position: top;
    min-height: 225px;
    margin-top: 94px;
}

.row {
    display: flex;
    justify-content: space-around;
    width:  320px;
    align-items: center;
}

.arrow-left {
    height: 44px;
    width: 44px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-color: rgb(30, 30, 30);
    position: relative;
    left: 40px;
    top: 65px;
    z-index: 10;
    margin-left: -40px;
}

.arrow-right { 
    height: 44px;
    width: 44px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid #E7E3FC3B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-color: rgb(30, 30, 30);
    position: relative;
    right: 40px;
    top: 65px;
    z-index: 10;
}

.horiz-arrow {
    top: 160px !important
}

#batasan {
    border: 1px solid white;
    width: 20px !important;
    height: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
}


#hero-desc {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(30, 30, 30, 0), var(--home-color));
    margin-top: -600px;
    position: relative;
    z-index: 3;
    padding-top: 390px !important;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0px 80px;
}

#hero-desc p {
    width: 60%;
    max-height: 54px;
    font-size: 16px;
    text-overflow: ellipsis;
   
    overflow: hidden;
}

#hero-desc h1 {
    font-size: 40px;
}

#mulai {
    background-color: #0F1E93;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#mulai:hover {
    background-color: cornflowerblue;
}

#selengkap {
    background-color: var(--back-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#selengkap:hover {
    background-color: gray;
}

main {
    background-color: var(--home-color);
    height: auto;
}

.bi-volume-mute {
    width: 44px;
    height: 44px ;
    border-radius: 24px;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: 1px solid white;
    font-size: 18px;
}

.list-parent {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: start;
    margin: 40px 0px;
}



.list {
    gap: 20px;
    display: flex;
    margin-top: 20px;
    
    width: 100vw;
    overflow-x: auto !important;
    justify-content: center;
    
}

.list-parent div {
    width: auto;
}

.listlanjut {
    height: 162px;
    width: 302px;
    border-radius: 5px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.listlanjut:hover {
    transform: scale(0.9);
   
}

.listhoriz {
    border-radius: 5px;
    height: 365px;
    width: 234px;
    transition: 0.3s ease-out;
    cursor: pointer;
    
}

.listhoriz:hover {
    transform: scale(0.9);
   
}

.list-parent h2 {
    font-size: 30px;
}

footer {
  background-color: var(--home-color);
  display: flex;
 align-items: center;
 padding: 50px;
 justify-content: space-between;
 border-top: 1px solid #E7E3FC3B;
 margin-top: auto;
}

#copyright img {
    margin-bottom: 26px;
    width: 163px;
    height: 44px;
}

#copyright p {
    color: #C1C2C4;
    font-size: 16px;
} 

.genre {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: column;
    row-gap: 5px;
    column-gap: 20px;
    margin-top: 20px;
}

.genre a {
    color: #FFFFFF60;
}

.arah {
    display: none;
}

.judul {
    margin-left: 30px;
    font-size: 32px;
    
}

@media (max-width: 900px) {
    #copyright img {
        margin-bottom: 16px;
        width: 84px;
        height: 25px;
    }
    
    #copyright p {
        color: #C1C2C4;
        font-size: 12px;
    } 

    .list-parent {
        align-items: start;
        margin: 20px 0px;
        padding: 0px 18px;
    }


  .arrow-left,.arrow-right {
    display: none;
  }

  .row {
    width: 221px;
    height: 25px;
    display: flex;
    gap: 8px;
  }

  .chill-logo {
    width: 94px;
    height: 24px;
    margin-bottom: 20px;
  }

  #login-form {
    background-color: var(--back-color);
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 23px;
    border-radius: 16px;
}

#login-form h2 {
    font-size: 18px !important;
}

.sandi-gap {
    margin-bottom: 20px !important;
}

#login-form p {
    font-size: 10px !important;
}

.input {
    font-size: 10px;
}

.input-text {
    background-color: var(--back-color);
    height: 28px;
    width: 260px;
    padding: 8px 12px;
    font-size: 9px;
}

#username {
    margin-bottom: 20px !important;
}

.login-title {
    margin-bottom: 5px;
}

#sandi {
    margin-bottom: 7px !important;
}

.masuk {
    font-size: 10px !important;
    height: 30px;
    margin-top: 20px !important;
}

.forget {
    margin-bottom: 0px;
}

.g-button {
    font-size: 10px !important;
    height: 30px;
}

.google {
    width: 10px;
    height: 10px;
}


  .judul {
    margin-left: 0px;
}

   header {
    padding: 0px;
   }

   .list {
    width: 100%;
   }

   #hero-img {
    margin-top: 56px;
   }

   .arah {
    display: block
}

.mobile {
    font-size: medium !important;
    margin-bottom: 10px !important;
}

.mobile-h2 {
    font-size: large;
}




header {
    height: 56px;
    padding: 6px 20px;
}

   
.nav-div {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.nav-div a {
    text-decoration: none;
    font-size: 10px;
}

#lanjut {
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    
    
}

.listlanjut {
    
    border-radius: 5px;
    height: 151px;
    width: 309px;
}


.listhoriz {
    border-radius: 5px;
    height: 145px;
    width: 95px;
    transition: 0.3s ease-out;
    cursor: pointer;
}



.genre {
    visibility: collapse;
    display: none;
}

footer {
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

#copyright {
    margin-bottom: 30px;
}

.symbol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#copyright p{
    color: #FFFFFF60;
    margin-top: 10px;

}

.nav-div img {
    height: 18px;
}

.nav-div p {
    display: none;
}

#profile-pct {
    margin-right: 20px;
    height: 20px;
    width: 40px;
}

#hero-desc h1 {
    font-size: 24px;
}

#mulai {
    width: 55px;
    height: 25px;
    border-radius: 48px;
    font-size: 12px;
    padding: 4px 12px;
}

#hero-desc {
    padding-left: 22px;
    padding-bottom: 40px;
    padding-right: 18px ;
    justify-content: end;
}

#batasan {
    border-radius: 24px !important;
    width: 30px !important;
    height: 25px !important;
    padding: 4px !important;
font-size: 12px !important;
    
}

#selengkap {
   
    height: 25px !important;
    border-radius: 48px  !important;
    font-size: 12px !important;
    padding: 4px 12px !important;
    width: auto;
    overflow-y: hidden;
}

.subtitle {
    font-size: 16px !important;
}

.bi-volume-mute {
    width: 25px;
    height: 25px ;
    border-radius: 19px;
    padding: 6px ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: 1px solid white;
}

#hero-desc p {
    font-size: 12px;
    height: 29px;
    width: 100%;
}

.footer-gap {
    margin-bottom: 27px !important;
}


.judul {
    font-size: 20px !important;
}

}